/*************** Reset *********************/
:root {
  /*baggrund*/
  --primary-baground-color: #0b0a1e;

  /*tekst*/
  --primary-text-color: #f3ebeb;

  --secondary-text-color: #492c48;

  /*strokes */
  --acent-color: #ed98ea;

  /*newsletter baggrundsfarve*/
  --modal-bg-color: #c5e4fb;

  /*gradient*/
  --gradient: linear-gradient(to right, #c5e4fb, #fdaffa);

  /*Knap når trykket på*/
  --button-selected: #8f588d;

  /*Typer af fonte*/
  --primary-font: "satoshi_regular";
  --secondary-font: "open_sans-bold";

  --primary-line-height: 1.5;
  --primary-list-style: none;

  /*SKRIFT-STØRRELSER*/
  /*bruges til overskrifter samt brødtekst, mest brugte str.*/
  --primary-font-size: 24px;

  /*h2, bruges til overskrifter, næstmestbrugte str.*/
  --secondary-font-size: 64px;

  /*bruges til underoverskrifter (italic)*/
  --tertiary-font-size: 32px;

  /*bruges til footer, filtreringen, brødkrummesti og bookmark*/
  --quaternary-font-size: 20px;

  /*H1 helt på forsiden m. gradient*/
  --quinary-font-size: 160px;
}

/* satoshi fonts */
@font-face {
  font-family: satoshi_regular;
  src: url ("src/fonts/fonts/Satoshi-Regular.woff2");
}
@font-face {
  font-family: satoshi_medium;
  src: url ("src/fonts/fonts/Satoshi-Medium.woff2");
}
@font-face {
  font-family: satoshi_bold;
  src: url ("src/fonts/fonts/Satoshi-Bold.woff2");
}
@font-face {
  font-family: satoshi_italic;
  src: url ("src/fonts/fonts/Satoshi-Lightitalic.woff2");
}
/* open sans fonts */
@font-face {
  font-family: open_sans-bold;
  src: url ("src/fonts/fonts/OpenSans-Bold.woff2");
}
@font-face {
  font-family: open_sans-extrabold;
  src: url ("src/fonts/fonts/OpenSans-ExstraBold.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #000; */
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*bruges til overskrifter samt brødtekst, mest brugte str.*/
p {
  color: var(--primary-text-color);
  font-size: var(--primary-font-size);
  font-family: var(--primary-font);
}
/*H1 helt på forsiden m. gradient*/
h1 {
  color: var(--gradient);
  font-size: var(--quinary-font-size);
  font-family: "open_sans-extrabold", sans-serif;
}

/*h2, bruges til overskrifter, næstmestbrugte str.*/
h2 {
  color: var(--primary-text-color);
  font-size: var(--secondary-font-size);
  font-family: var(--secondary-font), sans-serif;
}

/*bruges til underoverskrifter (italic)*/
h3 {
  color: var(--primary-text-color);
  font-size: var(--tertiary-font-size);
  font-family: "satoshi_italic", sans-serif;
}

/*bruges til footer, filtreringen, brødkrummesti og bookmark*/
h4 {
  color: var(--primary-text-color);
  font-size: var(--quaternary-font-size);
  font-family: "satoshi_regular", sans-serif;
}

body {
  background-color: var(--primary-baground-color);
  margin: 40px;
}

/* drop-down menu website */
/* nav > li {
  position: relative;
}
nav li ul {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 155px;
  list-style-type: none;
  text-align: left;
}
nav li ul a {
  color: black;
  font-size: 12px;
}
nav li:hover ul {
  visibility: visible; */

/* dropdown mobil */
