---
import Mainlayout from "../mainlayout/MainLayout.astro"
import Gemvarket from "../components/Gemvaerket.astro"
---

		<h2>Copenhagen Light Festival 2024</h2>
		<h3>Alle lysværker & events er i perioden d. 2. feb - 25. feb</h3>
		<hr class="line">

		<div class="knapper"> </div>

	<div class="grid"></div>

		<template class="vaerker_grid">
			<div class="vaerk_grid_item">
				<h4 class="vaerkname">VAERK NAME</h4>
				<a href=""><img class="vaerkimage" src="" alt="vaerk name">
					<p class="vaerkartist">VAERK ARTIST</p>
				<Gemvaerket/>
				</a>
			</div>
		</template>

	</div>

				
<style>
h1, h2, p {
	color: var(--primary-text-color);
	}

.line{
    border-color: var(--acent-color);
 	border-width: 1px;
 	width: 100%;
 	margin:auto;
    }
	
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
</style>

