---
import "../styles/generel.css";
import Bigbutton from "../components/Bigbutton.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<title>Home</title>
	</head>
	<body>
		<h1>Astro</h1>
		<main>
			<Bigbutton/>
			<article>
				<h2>Hej</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nihil dolor molestiae ipsa. Nobis, deleniti? Ipsam excepturi vitae unde sequi facere eum vel, architecto iusto soluta! Inventore consequatur voluptates deleniti!</p>
				<button>Klik her</button>
			</article>
		</main>
	</body>
</html>
