---
 import MainLayout from "../mainlayout/MainLayout.astro";
  import Gemvaerket from "../components/Gemvaerket.astro";
---
<MainLayout> 
<article>
<h2>VÆRK 03.</h2>
    <hr class="line">


<article class="brødkrummesti"><p>forside > værker 2024 > 05. “Barok Nation”</p></article>

<svg xmlns="http://www.w3.org/2000/svg" width="32" height="19" viewBox="0 0 32 19" fill="none">
  <path d="M31.5098 9.32782L1.22247 9.32781" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M9.83398 17.6603L1.00019 9.33018L9.83399 1.00001" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
<h2>05. "PIXELEARTH"</h2>

<div class="grid">
    <div class="container1"> 
<div><svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
  <path d="M25.8327 27.125V24.5417C25.8327 23.1714 25.2883 21.8572 24.3194 20.8883C23.3505 19.9193 22.0363 19.375 20.666 19.375H10.3327C8.9624 19.375 7.64824 19.9193 6.6793 20.8883C5.71036 21.8572 5.16602 23.1714 5.16602 24.5417V27.125" stroke="#FCA1F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M15.5007 14.2083C18.3541 14.2083 20.6673 11.8951 20.6673 9.04167C20.6673 6.1882 18.3541 3.875 15.5007 3.875C12.6472 3.875 10.334 6.1882 10.334 9.04167C10.334 11.8951 12.6472 14.2083 15.5007 14.2083Z" stroke="#FCA1F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg><p class="pink-p">AF:</p><p class="brødtekst">AF: FREDERIK HOUGS OG CLAUS BOYSEN (DK)</p></div>

<div><svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
  <path d="M27.125 12.9167C27.125 21.9583 15.5 29.7083 15.5 29.7083C15.5 29.7083 3.875 21.9583 3.875 12.9167C3.875 9.83351 5.09977 6.87665 7.27988 4.69654C9.45999 2.51643 12.4169 1.29166 15.5 1.29166C18.5831 1.29166 21.54 2.51643 23.7201 4.69654C25.9002 6.87665 27.125 9.83351 27.125 12.9167Z" stroke="#FCA1F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M15.5 16.7917C17.6401 16.7917 19.375 15.0568 19.375 12.9167C19.375 10.7766 17.6401 9.04166 15.5 9.04166C13.3599 9.04166 11.625 10.7766 11.625 12.9167C11.625 15.0568 13.3599 16.7917 15.5 16.7917Z" stroke="#FCA1F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg><p class="pink-p">HVOR:</p><p class="brødtekst">KNASTEN, HAVNEGADE 14</p></div>
<div>
    <hr class="line">
</div>   
<div><svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
  <path d="M12.916 16.7917C13.4707 17.5333 14.1784 18.1469 14.9911 18.5909C15.8039 19.0349 16.7025 19.2989 17.6263 19.3651C18.55 19.4313 19.4771 19.298 20.3448 18.9743C21.2125 18.6506 22.0005 18.1441 22.6552 17.4892L26.5302 13.6142C27.7066 12.3961 28.3576 10.7647 28.3429 9.07137C28.3282 7.37802 27.6489 5.75819 26.4515 4.56076C25.2541 3.36333 23.6343 2.68412 21.9409 2.6694C20.2475 2.65469 18.6162 3.30565 17.3981 4.48209L15.1764 6.69084" stroke="#FCA1F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M18.0833 14.2083C17.5286 13.4668 16.8209 12.8531 16.0082 12.4091C15.1955 11.9651 14.2968 11.7011 13.3731 11.6349C12.4494 11.5688 11.5222 11.702 10.6545 12.0257C9.78684 12.3494 8.99891 12.8559 8.34418 13.5108L4.46918 17.3858C3.29274 18.6039 2.64178 20.2353 2.65649 21.9286C2.67121 23.622 3.35042 25.2418 4.54785 26.4393C5.74528 27.6367 7.36511 28.3159 9.05846 28.3306C10.7518 28.3453 12.3832 27.6944 13.6013 26.5179L15.81 24.3092" stroke="#FCA1F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg><p class="pink-p">LINKS:</p> <a href="www.theaterpixels.com" class="brødtekst"></a>
<br>
<a href="wwf.dk/pixlearth" class="brødtekst"></a>
<br>
<p class="pink-p">INSTAGRAM:</p> <p class="brødtekst"> @theaterpixels</p>
<br> 
<p class="pink-p">INSTAGRAM:</p> <p class="brødtekst">@wwfdk</p>
<br>
<br>
<svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
  <g clip-path="url(#clip0_362_1522)">
    <path d="M15.5007 28.4167C22.6343 28.4167 28.4173 22.6337 28.4173 15.5C28.4173 8.36632 22.6343 2.58333 15.5007 2.58333C8.36697 2.58333 2.58398 8.36632 2.58398 15.5C2.58398 22.6337 8.36697 28.4167 15.5007 28.4167Z" stroke="#FCA1F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10.334 18.0833C10.334 18.0833 12.2715 20.6667 15.5007 20.6667C18.7298 20.6667 20.6673 18.0833 20.6673 18.0833" stroke="#FCA1F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M11.625 11.625H11.6379" stroke="#FCA1F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M19.375 11.625H19.3879" stroke="#FCA1F8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
  <defs>
    <clipPath id="clip0_362_1522">
      <rect width="31" height="31" fill="white"/>
    </clipPath>
  </defs>
</svg>
<p class="pink-p">TAK TIL:</p> <p class="brødtekst">NEONSIGN</p>
</div>
<Gemvaerket/>
<div>
<div class="billede"><img src="src/img/clf-billeder/03.webp" alt="billede3"></div>
</div>
<div><p>Der ligger et dybt spørgsmål i hjertet af PiXLEarth: Hvad har klimaforandringerne rent faktisk forårsaget? Hvad har vi mennesker været medvirkende til? Disse spørgsmål er drivkraften bag dette projekt, hvori kunstnerne stræber efter at præsentere den komplekse problemstilling på en enkel, men sofistikeret måde.

Frederik Hougs og Claus Boysen udnytter mulighederne i moderne teknologi til at kombinere historiske data med live-data fra hele verden, og de krydrer det hele med deres egen kreativitet for at skabe en levende installation, der kan vække publikums nysgerrighed.
</p></div>
<div><p>Frederik Hougs er uddannet lysdesigner fra Scenekunstskolen og har arbejdet bl.a. ved Det Kongelige Teaters Opera. Claus Boysen er uddannet grafonom og arbejder med teater-, musical- og koncertlys.

Frederik Hougs har i samarbejde med Hans E. Madsen deltaget i Copenhagen Light Festival 2021 med Pressure og i 2022 med Comms.

I 2023 deltog Frederik Hougs og Claus Boysen med værket Waves.
</p></div>
</article>
</MainLayout>

<style>
    .line{
      border-color: var(--acent-color);
 border-width: 1px;
 width: 100%;
 margin:auto;
    }
.brødkrummesti{
color: var(--acent-color);
font-size: var(--quaternary-font-size);
     }

  
p, h2{
		color: var(--primary-text-color);
	}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.container{
  grid-column: 1;
}
.billede{
  grid-column: 2;
  grid-row: 1;
}
</style>