---
 import "../styles/generel.css";
---
<article>
<h2>VÆRK 03.</h2>
<template>
    <hr class="line">
</template>

<article class="brødkrummesti"><p>forside > værker 2024 > 05. “Barok Nation”</p></article>

<svg xmlns="http://www.w3.org/2000/svg" width="32" height="19" viewBox="0 0 32 19" fill="none">
  <path d="M31.5098 9.32782L1.22247 9.32781" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M9.83398 17.6603L1.00019 9.33018L9.83399 1.00001" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
<h2>05. "PIXELEARTH"</h2>

<div class="grid">
    <div class="container1"> 
<div><p class="pink-p">AF:</p><p class="brødtekst">AF: FREDERIK HOUGS OG CLAUS BOYSEN (DK)</p></div>
<div><p class="pink-p">HVOR:</p><p class="brødtekst">KNASTEN, HAVNEGADE 14</p></div>
<div>
    <hr class="line">
</div>   
<div><p class="pink-p">LINKS:</p> <a href="www.theaterpixels.com" class="brødtekst"></a>
<br>
<a href="wwf.dk/pixlearth" class="brødtekst"></a>
<br>
<p class="pink-p">INSTAGRAM:</p> <p class="brødtekst"> @theaterpixels</p>
<br> 
<p class="pink-p">INSTAGRAM:</p> <p class="brødtekst">@wwfdk</p>
<br>
<br>
<p class="pink-p">TAK TIL:</p> <p class="brødtekst">NEONSIGN</p>
</div>
<Gemvaerket/>
<div/>
<img src="../img/clf-billeder/03.webp" alt="billede3">
</div>
</article>

<style>
    .line{
 --acent-color: #ed98ea;
 border-width: 1px;
 width: 50%;
    }
.brødkrummesti{
color: var(--acent-color);
font-size: var(--quaternary-font-size);
     }

</style>
