---
import MainLayout from "../mainlayout/MainLayout.astro";

const {header, paragraph} = Astro.props; 
---


<article>
    <h2>{header}</h2>
    <p>{paragraph}</p>
    <img src="src/img/clf-billeder/01.webp" alt="01">
</article>