---

---
<div class="footerbg"> 

 <div class="footertext">
<p>@COPENHAGEN LIGHT FESTIVAL</p>
<p>Tlf. +45 25 55 66 04</p>
<p> info@copenhagenlightfestival.org</p></div> 

<div class="ikoner"> 
<div class="youtube"></div>

<div class="instagram"></div>

<div class="facebook"></div>
</div>
</div>


<style>
.footerbg{
background-image: url("src/img/clf-billeder/footer.webp");
background-position-x: center;
background-repeat: no-repeat;
/* text-align: center;     */
}

.footertext{
    display: flex;
    justify-content: space-between;
    color: var(--quaternary-font-size);
    margin-bottom: 40px;
}
.youtube{
background-image: url("src/img/clf-billeder/youtube.webp"); 
width: 58px;
height: 58px;
flex-shrink: 0;
}

.instagram{
background-image: url("src/img/clf-billeder/instagram.webp");
width: 58px;
height: 58px;
flex-shrink: 0;
}

.facebook{
background-image: url("src/img/clf-billeder/facebook.webp");
width: 58px;
height: 58px;
flex-shrink: 0;
}

.ikoner{
    display: flex;
    justify-content: center;
    gap: 25px; 
}
    
</style> 