---
import MainLayout from "../mainlayout/MainLayout.astro";
---
<div class="footerbg"> 

 <div class="footertext">
<p>@COPENHAGEN LIGHT FESTIVAL</p>
<p> info@copenhagenlightfestival.org</p>
<p>Tlf. +45 25 55 66 04</p></div> 

<div class="youtube">
    <a href="#"></a>
    <img src="#" alt="">
    <div>Youtube</div>
</div>

<div class="instagram">
    <a href="#"></a>
    <img src="#" alt="">
    <div>Instagram</div>
</div>

<div class="facebook">
    <a href="#"></a>
    <img src="#" alt="">
    <div>Facebook</div>
</div>
</div>


<style>
.footerbg{
background-image: url(src/img/clf-billeder/footer.webp);
background-position-x:center;
background-repeat: no-repeat;
text-align: center;    
}

.footertext{
    display: flex;
    justify-content: space-between;
    color: var(--quaternary-font-size);
}
.youtube{
background-image: url(background: url(<path-to-image>) lightgray 50% / contain no-repeat;);
width: 58px;
height: 58px;
flex-shrink: 0;
}

.instagram{
background-image: url(background: url(<path-to-image>) lightgray 50% / contain no-repeat;);
width: 58px;
height: 58px;
flex-shrink: 0;
}

.facebook{
background-image: url(background: url(<path-to-image>) lightgray 50% / contain no-repeat;);
width: 58px;
height: 58px;
flex-shrink: 0;

}
    
</style>