---
 import MainLayout from "../mainlayout/MainLayout.astro";
 import "../styles/generel.css";
---
<article>
    <div class="gem-wrapper"> 
        <div class="gem_billede">
   <svg xmlns="http://www.w3.org/2000/svg" width="19" height="28" viewBox="0 0 19 28" fill="none">
  <path d="M18 27L9.5 19.7778L1 27V3.88889C1 3.12271 1.25587 2.38791 1.71131 1.84614C2.16676 1.30436 2.78447 1 3.42857 1H15.5714C16.2155 1 16.8332 1.30436 17.2887 1.84614C17.7441 2.38791 18 3.12271 18 3.88889V27Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</div>
<p class="styling">Gem værket</p>
</div>
</article>

<style> 
.gem-wrapper{
display: grid;
grid-template-columns: 1fr 1fr;
width: 100px;
}  

.gem_billede {
    grid-column: 1;
    color: var(--acent-color);
}
.styling {
    grid-column: 2;
    width: 200px;
    padding-left: 4%;
}
    </style>