---
 
 fetch("https://vkrlgbqzulxudbzqgvwo.supabase.co/rest/v1/clf_data_team01")
  .then((response) => response.json())
  .then(showData);

  function showData(data) {
  // looper og kalder på showData
  data.forEach(showData);
}

function showProduct (productVisible) {
  console.log(productVisible);
//   jeg tror det er heri man så koder og henter dataen
}

---
<article>
<h3>2024</h3>
    <h3>Værk (1-6)</h3>
    <h4></h4>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path d="M12 5.20834V19.7917" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5 12.5H19" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <h4></h4>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path d="M12 5.20834V19.7917" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5 12.5H19" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <h4></h4>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path d="M12 5.20834V19.7917" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5 12.5H19" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <h4></h4>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path d="M12 5.20834V19.7917" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5 12.5H19" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <h4></h4>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path d="M12 5.20834V19.7917" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5 12.5H19" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <h4></h4>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path d="M12 5.20834V19.7917" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M5 12.5H19" stroke="#F3EBEB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </article>
    <style>
        h4{
            font-size: --var;
        }
    </style>
    